body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #c4afe0;
}

.container {
    text-align: center;
}

#display {
    font-size: 3em;
    margin-bottom: 20px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
}

#laps {
    list-style-type: none;
    padding: 0;
}

#laps li {
    font-size: 1.2em;
    margin: 5px 0;
}
